{% extends "admin/login.html" %}

{% block content %}
<form action="{{ app_path }}" method="post" id="login-form">
  {% csrf_token %}
  
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>

  {% if form.otp_token %}
  <div class="form-row">
    {{ form.otp_token.errors }}
    <label for="id_otp_token">OTP Token:</label>
    {{ form.otp_token }}
  </div>
  {% endif %}

  <div class="submit-row">
    <input type="submit" value="Log in" />
  </div>
</form>
{% endblock %}